parameters:
	ignoreErrors:
		-
			message: "#^PHPDoc tag @var for variable \\$categoriesIterator contains generic class AppendIterator but does not specify its types\\: TKey, TValue, TIterator$#"
			count: 1
			path: bin/build.php

		-
			message: "#^PHPDoc tag @var for variable \\$svgIconIterator contains generic class AppendIterator but does not specify its types\\: TKey, TValue, TIterator$#"
			count: 1
			path: bin/build.php

		-
			message: "#^PHPDoc tag @var for variable \\$tagsIterator contains generic class AppendIterator but does not specify its types\\: TKey, TValue, TIterator$#"
			count: 1
			path: bin/build.php

		-
			message: "#^Parameter \\#1 \\.\\.\\.\\$arrays of function array_merge expects array, mixed given\\.$#"
			count: 2
			path: bin/build.php

		-
			message: "#^Parameter \\#2 \\$iconName of method Aciety\\\\Component\\\\MaterialIcons\\\\Tool\\\\IconBuilder\\:\\:build\\(\\) expects non\\-empty\\-string, string given\\.$#"
			count: 1
			path: bin/build.php

		-
			message: "#^Parameter \\#3 \\$categories of method Aciety\\\\Component\\\\MaterialIcons\\\\Tool\\\\IconBuilder\\:\\:build\\(\\) expects list\\<non\\-empty\\-string\\>, mixed given\\.$#"
			count: 1
			path: bin/build.php

		-
			message: "#^Parameter \\#4 \\$tags of method Aciety\\\\Component\\\\MaterialIcons\\\\Tool\\\\IconBuilder\\:\\:build\\(\\) expects list\\<non\\-empty\\-string\\>, mixed given\\.$#"
			count: 1
			path: bin/build.php

		-
			message: "#^Parameter \\#1 \\$patterns of method Symfony\\\\Component\\\\Finder\\\\Finder\\:\\:name\\(\\) expects array\\<string\\>\\|string, array given\\.$#"
			count: 1
			path: src/Tool/Composer.php

		-
			message: "#^Method Aciety\\\\Component\\\\MaterialIcons\\\\Tool\\\\IconBuilder\\:\\:normalizePoints\\(\\) should return non\\-empty\\-string but returns string\\.$#"
			count: 1
			path: src/Tool/IconBuilder.php

		-
			message: "#^Parameter \\#1 \\$points of static method Aciety\\\\Component\\\\MaterialIcons\\\\Tool\\\\IconBuilder\\:\\:normalizePoints\\(\\) expects list\\<array\\{float\\|int, float\\|int\\}\\>, array\\<array\\> given\\.$#"
			count: 2
			path: src/Tool/IconBuilder.php

		-
			message: "#^Parameter \\#2 \\$iconName of method Aciety\\\\Component\\\\MaterialIcons\\\\Tool\\\\IconBuilder\\:\\:build\\(\\) expects non\\-empty\\-string, string given\\.$#"
			count: 1
			path: tests/Tool/IconBuilderTest.php
